<a href="https://colab.research.google.com/github/LCaravaggio/ClaseMachineLearning/blob/main/Ejercicio4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [8]:
peliculas = pd.read_csv('https://raw.githubusercontent.com/LCaravaggio/ClaseMachineLearning/master/peliculas.csv')

In [9]:
peliculas.head()

   Unnamed: 0  averageRating  numVotes  titleType startYear    writers  id
0           0            1.8        12  tvEpisode      2014         \N   1
1           1            8.8         5  tvEpisode      2020         \N   2
2           2            8.5        35      video      2006  nm2040572   3
3           3            4.3        11      short      2016  nm2765889   4
4           4            7.4        10  tvEpisode      2014  nm1444457   5

In [ ]:
from sklearn.model_selection import train_test_split
X=['numVotes', 'titleType', 'startYear']
y=['averageRating']
X_train, X_test, y_train, y_test = train_test_split(df[X], df[y], test_size=0.2)